body{
    background-image: url(./images/_backgrounds/main.gif);
}

section{
    margin: 10px auto;
    padding-top: 4em;
    width: 1000px;
    padding: 20px;
}

/* PHOTOS CSS */
section#photos {
    width: 860px;
    margin: auto;
    background-color: whitesmoke;
}

section#photos .gallery {
    width: 250px;
    margin: 10px;
    transition-duration: 1s;
}

section#photos .gallery:hover {
    transform: scale(2, 2);
}

section#contact{
    background-color: gainsboro;
    width: 500px;

}
