body{
    background-image: url("images/backgrounds/main.gif");
}
section{
    margin: auto;
    padding: 4em; 
    width: 1000px;
}

.menu_list li{
font-size: x-large;
padding-right: 15px;
}


/* PHOTOS CSS */
section#photos {
    width: 900px;
    background-color: whitesmoke;
}

section#photos .gallery {
    width: 250px;
    transition-duration: 1s;
}
section#photos img{
    border-radius: 4px;
    padding: 5px;
    /* width:  250px;
    height: 170px; */
}

section#photos .gallery:hover {
    transform: scale(2, 2);
}

section#contact{
    background-color: gainsboro;
    width: 500px;
}

#playlist .youtubeEmbed{
    display: inline-block;
    border: 1px solid #ddd;
}

section#like{
    width: 100%;
    background-color: aquamarine;
}
section#like #facebookLike{
    padding: 30px;
    border: whitesmoke;
    border-style: solid;
    width: 500px;
    height: 100px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  section#spa{
      width: 100%;
      background: yellowgreen;
      height: 600px;
  }

/* PLAYLIST CSS */
section#playlist .sec .main_video{
     float:left;
}


section#playlist .sec .video_list{
   margin-left: 20px;
    float:left;
    background-color: black;
    min-height: 300px;
    width: 405px;
    border: 3px solid white;
}
