
body{
    background-image: url(./images/background.gif);
}

section{
    margin: auto;
    width: 1000px;
}


.sec{
    margin: 20px;
}

/* PHOTOS CSS */
section#photos {
    width: 860px;
    margin: auto;
    background-color: whitesmoke;
}

section#photos .gallery {
    width: 250px;
    margin: 10px;
    transition-duration: 1s;
}

section#photos .gallery:hover {
    transform: scale(2, 2);
}

section#contact{
    background-color: white;
    width: 500px;

}

.section form{
    padding: 20px;
}